body {
  font-family: "Lato", "Raleway";
  color: #333;
  background-color: #f2f2f2;

}

.inner {
  width: 1100px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

/* フォント */
.title {
  font-size: 24px;
}

.is_raleway {
  font-family: Raleway;
}

.font0 {
  font-size: 0;
}

/* 色系 */
.bgc_white {
  background-color: #fff;
}

.bgc_green {
  background-color: #74cfae;
}

.bgc_dark {
  background-color: #4e4e4e;
}

.font_green {
  color: #74cfae;
}

.font_grey {
  color: #f2f2f2;
}

.font_dark {
  color: #4e4e4e;
}

.theme__text_color {
  color: #c0c0c0;
}

/* 配置 */
.flex_center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.just_flex {
  display: flex;
}

.text_center {
  text-align: center;
}

/* 使用時に::after忘れずに */
.clearfix {
  clear: both;
  content: "";
  display: block;
}

/* まとめ */
.text_style {
  font-size: 20px;
  line-height: 30px;
}

.btn {
  border: 1px solid transparent;
  color: #fff;
  font-size: 12px;
  transition: all 0.3s;
}

.btn:hover {
  color: #333;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.haeder__inner {
  padding: 15px 0;
  justify-content: space-between;
}

.header__btn {
  padding: 14px 12px;
}

.header__left {
  margin-right: auto;
}

.icon_size {
  font-size: 30px;
}

.header__right {
  margin-left: auto;
}

/* bolt Theme */
main {
  padding-top: 70px;
}

.theme__inner {
  padding: 250px 0;
}

.theme__heading {
  font-size: 90px;
  font-weight: 700;
}

.theme__text {
  margin-top: 20px;
  font-size: 30px;
}

/* WHAT WE CAN DO? */
.iphone__inner {
  padding-top: 50px;
  justify-content: space-around;
}

.iphone__desc_text {
  margin-top: 30px;
  width: 690px;
}

/* OUR LATEST WORK */

.work__inner {
  padding: 60px 0 70px;
}

.work__imges {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.work__imges li{
  margin-left: 100px;
}

.work__imges li a {
  opacity: 0.7;
  transition: all 0.3s;
}
  .work__imges li a:hover {
  opacity: 1;
}

.work__imges li:nth-child(3n + 1),
.skills__imges li:first-child {
  margin-left: 0;
}

.work__imges li:nth-child(n + 4) {
  margin-top: 80px;
}

/* OUR LATEST--Ques ↓↓↓ */
.work__contact_container {
  margin-top: 90px;
}

.work__contact_text {
  width: 610px;
}

.work__contact_btn {
  padding: 14px 20px;
  margin-left: 90px;
}
/*OUR LATEST--Ques ↑↑↑ */

/* Skills */

.skills__inner {
  padding: 70px 0 100px;
}

.skills__imges {
  margin-top: 70px;
}

.skills__imges li {
  margin-left: 180px;
}

.skills__imges li p {
  margin-top: 20px;
}

/* SNS */
.sns__inner {
  padding: 200px 0;
}

.sns__inner li a {
  width: 185px;
  font-size: 50px;
  padding: 20px 15px;
  color: #74cfae;
  box-sizing: border-box;
  transition: all 0.3s;
}

.sns__inner li a:hover {
  background-color: #fff;
}

/* footer */
.footer__inner {
  padding: 20px 0 25px 0;
}

.footer__text {
  text-align: right;
}

/* 1199px ~ 768px
--------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {

.inner {
  width: 90%;
}

}
/* 767px ~ 0px
---------------------*/
@media screen and (max-width: 767px) {

}